.bg-adList {
  background-color: rgba(0,0,0,0.1);
}

.bg-adList span {
  text-indent: 20px;
}

.carousel .card {
  background-color: rgba(0,0,0,0);
  border: 0;
}

.carousel .card-body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
    background-color: rgba($black, .45);
  }
}

.carousel .ad-card-title {
  background-color: rgba(0,0,0,0.7);
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.carousel .ad-card-hover-title {
  position: absolute;
  opacity: 0;
  top: 50%;
  right: 34%;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 5;
}

.carousel .card:hover {
  .card-body {
    &::after {
      content: '';
      transform: scale(1, 1);
      cursor: pointer;
    }
  }

  .ad-card-title {
    opacity: 0;
    visibility: hidden;
  }

  .ad-card-hover-title {
    color: white;
    opacity: 1;
    visibility: visible;
  }
}

// RWD
@media ( max-width:768px ) {
  .bg-adList {
    h2 {
      font-size: 1.3rem;
    }
    .carousel-inner {
      padding: 0rem 1.5rem;
    }
  }
}
