#carouselExampleCaptions{
  .carousel-caption {
    background-color: rgba(#333333, 0.5);
    border-radius: 10px;
  }
  .img-carousel-1, .img-carousel-2, .img-carousel-3, .img-carousel-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:350px;
    h6 {
      background-color: rgba($dark, 0.7);
      padding:10px;
      border-radius: 5px;
      margin-bottom: 40px;
    }
  }

  .img-carousel-1 {
    background: url('https://i.imgur.com/ZoVoblp.jpg');
  }
  .img-carousel-2 {
    background: url('https://i.imgur.com/UzqR8o1.jpg');
    background-position: right;
  }
  .img-carousel-3 {
    background: url('https://i.imgur.com/TQUcclr.jpg');
    background-position: right;
  }
  .img-carousel-4 {
    background: url('https://i.imgur.com/5MKGQnj.jpg');
    background-position: right;
  }
}
