.pay-process {
  color: #ffc107;
}

.pay-process-1,
.pay-process-2,
.pay-process-3 {
  position: relative;
  border: 1px solid #ffc107;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pay-process-1::after,
.pay-process-2::after {
  text-align: center;
  position: absolute;
  content: '';
  bottom: 45%;
  left: 100%;
  border-bottom: 1px solid #ffc107;
  width: 131px;
}

.pay-process .complited-1 {
  position: relative;
  &::after {
    content: '別忘了優惠券';
  }
  &::before {
    content: '';
    position: absolute;
    left: 16.5%;
    top: 18.2%;
    width: 65%;
    height: 65%;
    background: linear-gradient(to bottom right,yellow,#ffc107);
    adding: 0;
    border-radius: 50%;
  }
}

.pay-process .complited-2 {
  position: relative;
  &::after {
    content: '即將完成訂單';
  }
  &::before {
    content: '';
    position: absolute;
    left: 16.5%;
    top: 18.2%;
    width: 65%;
    height: 65%;
    background: linear-gradient(to bottom right,yellow,#ffc107);
    padding: 0;
    border-radius: 50%;
  }
}

.pay-process .complited-3 {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 16.5%;
    top: 18.2%;
    width: 65%;
    height: 65%;
    background: linear-gradient(to bottom right,yellow,#ffc107);
    padding: 0;
    border-radius: 50%;
  }
}

.cartOrder-content {
  font-size: 20px;
  padding: 10px 30px;
  font-weight: bold;

  span {
    margin-right: 10px;
  }
}
.overview-text {
  width: 100%;
  text-align: right;
}

.noticed-item li {
  list-style: square;
}

.discursor {
  cursor: not-allowed;
}

// 產品刪除動畫區
.cancelAlter {
  position: relative;
  overflow: hidden;
  .cancelBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($warning,1);
    top: 0;
    right: -200px;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .fadeInRight-cart {
    right: 0;
  }
  .fadeOutRight-cart {
    right:-200px;
  }
}

// RWD
@media (min-width: 1100px) {
  .cancelBox .h6 {
    font-size: 1.5rem;
    padding: 0px 5px;
  }
}
@media (max-width: 1100px) {
  .about .no-carts {
    height: 850px;
  }

  .pay-process .complited-1::after {
    font-size: 14px;
  }

  .pay-process-1::after,
  .pay-process-2::after {
    width: 390%;
  }

  .pay-process .complited-1::after {
    content: '優惠券';
  }
}
@media (max-width: 1023px) {
  .about .no-carts {
    height: 850px;
  }

  .pay-process .complited-1::after {
    font-size: 14px;
  }

  .pay-process-1::after,
  .pay-process-2::after {
    width: 220%;
  }

  .pay-process .complited-1::after {
    content: '優惠券';
  }
}
@media (max-width: 767px) {
  .pay-process-1::after,
  .pay-process-2::after {
    width: 520%;
  }

  .pay-process .complited-1::after {
    content: '別忘了優惠券';
  }

  .col-md-4 {
    margin-top: 20px;
  }

  .cartOrder-content {
    font-size: 14px;
  }

  .bg-cart-box .col-md-5 {
    display: flex;
    align-items: flex-end;
  }

  .no-carts p {
    font-size: 32px;
  }

  .input-group-sm {
    width: 110px !important;
  }

  .text-md-sm {
    font-size: 12px;
  }

  .md-spacing {
    margin: 50px 0;
  }
}
@media (max-width: 375px) {
  .pay-process-1::after,
  .pay-process-2::after {
    width: 473%;
  }
}
@media (max-width: 320px) {
  .pay-process-1::after,
  .pay-process-2::after {
    width: 352%;
  }

  .input-group-sm {
    width: 60px !important;
  }

  .moblieHide {
    display: none;
  }

  .cancelBox .h6 {
    padding: 0 3px;
    font-size: 0.8rem;
  }
}
