.bg-orders {
  background-color: rgba(255,255,255,0.1);
}

.pay-process {
  color: #ffc107;
}

.pay-process-1,
.pay-process-2,
.pay-process-3 {
  position: relative;
  border: 1px solid #ffc107;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pay-process-1::after,
.pay-process-2::after {
  text-align: center;
  position: absolute;
  content: '';
  bottom: 45%;
  left: 100%;
  border-bottom: 1px solid #ffc107;
  width: 131px;
}

.pay-process .complited-1 {
  position: relative;

  &::after {
    content: '別忘了優惠券';
  }

  &::before {
    content: '';
    position: absolute;
    left: 16.5%;
    top: 18.2%;
    width: 65%;
    height: 65%;
    background: linear-gradient(to bottom right,yellow,#ffc107);
    adding: 0;
    border-radius: 50%;
  }
}

.pay-process .complited-2 {
  position: relative;

  &::after {
    content: '即將完成訂單';
  }

  &::before {
    content: '';
    position: absolute;
    left: 16.5%;
    top: 18.2%;
    width: 65%;
    height: 65%;
    background: linear-gradient(to bottom right,yellow,#ffc107);
    padding: 0;
    border-radius: 50%;
  }
}

.pay-process .complited-3 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 16.5%;
    top: 18.2%;
    width: 65%;
    height: 65%;
    background: linear-gradient(to bottom right,yellow,#ffc107);
    padding: 0;
    border-radius: 50%;
  }
}

.cartOrder-content {
  font-size: 20px;
  padding: 10px 30px;
  font-weight: bold;

  span {
    margin-right: 10px;
  }
}

.noticed-item li {
  list-style: square;
}

.discursor {
  cursor: not-allowed;
}
.cancelAlter {
  position: relative;
  overflow: hidden;
}
.cancelBox {
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba($warning,1);
  top:0%;
  right:-160px;
  z-index:10;
  transition: all 0.3s ease;
}
.fadeInRight-cart {
  right:0px;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-name: cartfadeInright;
  -webkit-animation-name: cartfadeInright;
  transition: all 0.3s ease;
}
.fadeOutRight-cart {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-name: cartfadeOutright;
  -webkit-animation-name: cartfadeOutright;
}

@media (max-width: 768px) {
  .pay-process .complited-1::after,  .pay-process .complited-2::after{
    content:'';
  }
  .pay-process-1::after,
  .pay-process-2::after {
    width: 30px;
  }

  .input-group-sm{
    width:114px !important;
  }
  .text-md-sm{
    font-size:12px;
  }
  .md-spacing{
    margin:50px 0px;
  }
}
