#intro{
  height:600px;
  p {
    padding-bottom: 15px;
  }
}
#active{
  .bg-active{
      background-image: url("https://images.unsplash.com/photo-1518481852452-9415b262eba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=80");
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      margin: 0;
  }
  .active-info{
    padding:75px 0px;
    background-color: rgba(#C4A670 ,0.95);
  }
  .popShop {
    font-size: 20px;
    margin-top:20px;
    margin-left: 30px;
    i {
      color:#734f24;
    }
  }
}
.spacing {
  height: 125px;
}

.text-endless-spacing {
  letter-spacing: 1.5px;
}

.border-collection{
  border-bottom: 4px solid $light;
}

#collection {
  .bg-collection {
    background-color: rgba(196, 166, 112,0.9);
    cursor: pointer;
    position: relative;
    background-image: url('https://i.imgur.com/UYr3Pr6.png');
    background-position: center;
    background-size: contain;
    height: 350px;
    width: 350px;
  }

  .bg-hiphop {
    position: absolute;
    background-image: url('https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/c225.0.899.899a/s240x240/95664991_568180907152033_6739274739529466246_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=101&_nc_ohc=Zs8bvULaZvMAX_c-ith&oh=fe2469c10d18c6715332b6267a70b055&oe=5ED92204&ig_cache_key=MjMwMTcwMTY1ODk4MzYxNDY1Mg%3D%3D.2.c');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .bg-rock {
    position: absolute;
    background-image: url('https://www.supermoto8.net/images/data/Triumph%20Rock%20n%20Roll%20album.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .bg-popular {
    position: absolute;
    background-image: url('https://i.imgur.com/BeQrcl6.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .bg-hiphop, .bg-rock, .bg-popular {
    .go-icon {
      position: absolute;
      width:100%;
      font-size: 22px;
      color: $light;
      font-weight: bold;
      bottom: 0px;
      right: 0px;
      z-index: 15;
      text-align:center;
      background-color: rgba(#333333,0.8);
      padding:5px 0px;
    }
  }
}

#feature {
  a {
    text-decoration: none;
  }
  .bg-goodmas {
    background-image: url('https://i.imgur.com/y7koN2a.jpg');
    background-position: bottom;
    background-size: cover;
    height: 400px;
    width: 100%;
    z-index: 10;
  }

  .bg-feature{
    position: relative;
    background: url('https://i.imgur.com/HM1PDqh.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }

  .feature-textArea{
    position: absolute;
    background-color: white;
    z-index:10;
    width:80%;
  }

  .text-endless-spacing{
    line-height:40px;
  }

  .text-title {
    position: relative;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 5px 0px;
    font-size: 280%;
    color:$light;
  }

  .col-md-3 {
    .h4 {
      font-size: 122%;
    }
  }

  .text-content {
    width:100%;
  }

  .collapse-content {
    top:15px;
    background-color: rgba(#333333, 1);
    border-radius: 10px;

    .input-group {
      width:75%;
    }

    p {
      padding-bottom:10px;
    }

    span{
      font-family: sans-serif, "LiHei Pro", "黑體-繁", "微軟正黑體";
      display: block;
      text-indent: 2rem;
      font-size: 18px;
    }

    .text-icon{
      margin: 25px 0px;
      font-size:  50px;
      text-align: center;
      font-weight: bold;
    }
  }
}

#sectionLink .box-link {
  background-color: rgba(255, 255, 255, 0.7);
}

#sectionLink .text-Link {
  text-align: center;
  font-weight: bold;
  font-size: 22px;

  &-left {
    color: #F2AE2E;
  }

  &-right {
    color: #333333;
  }
}

.bg-underText {
  height: 450px;

  &-yellow {
    background-color: rgba(242, 174, 46 ,0.85);
  }

  &-black {
    background-color: rgba(#242424, 0.85);
  }
}

hr {
  border-top: 1px solid #EDE8CB;
  background-color: rgba(0,0,0,0);
  margin: 10px;
}

.bg-News {
  background-image: url("https://images.unsplash.com/photo-1523740755356-1665b9a25d77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
}
.sticky-top {
  top:80px !important;
  z-index: 50 !important;
}
.flow-hidden {
  overflow:hidden
}

// hover.css
// float shadow arrow
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  position: absolute;
  content: '';
  top: 94%;
  left: 48%;
  height: 45px;
  width: 45px;
  background-image: url('https://cdn3.iconfinder.com/data/icons/arrow-filled-line/24/fast_double_circle_Arrow_down_download_chevron-512.png');
  background-position: center;
  background-size: cover;
  opacity: 1;
  transform: rotateX(0deg);
  z-index: 50;
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  z-index: 100;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

// grow-shadhow
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  z-index:10;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// animation
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(10);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-out ease-in-out;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  .hvr-hang-content{
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: 0.5s, 1.5s;
    animation-duration: 0.5s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
}

// Gif animation
.git-speaker {
    display: block;
    height: 425px;
    margin:0 auto;
    border-radius: 12.5%;
    background: url(https://miro.medium.com/max/1200/0*-cn-6fZ8qh0k6OcM) 0 0 no-repeat;
    background-position: center center;
    background-size: 100%;
    animation: gif steps(321) 1.5s infinite both;
}

@keyframes gif {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

// RWD
// 768px 以下自適應
@media (max-width: 767px) {
  #active {
    .bg-active {
      .h2 {
        padding:0px 20px;
        width:75%;
        margin-bottom: 20px;
      }
      .h5 {
        padding:0px 20px;
        width:85%;
      }
      .popShop {
          width:85%;
      }
    }
  }

  #collection {
    .col-md-3 {
      margin-top:50px;
    }
  }

  #feature {
    .bg-feature {
      background-position: left;
    }
    .col-md-4, .col-md-8 {
      padding:30px 10px;
    }
    .collapse-content {
      .text-icon {
        font-size: 40px;
      }
    }
  }
  // 不套用grow
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// 320px 以下自適應
@media (max-width: 320px) {
  #feature {
    .collapse-content {
      .text-icon {
        font-size: 32px;
      }
    }
    .col-md-8 {
      .h2 {
        font-size: 1.8rem;
      }
    }
  }
}
