li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-banner {
  background-image: url("https://images.unsplash.com/photo-1530288782965-fbad40327074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.container-fluid .col-md-3 {
  margin-left: 50px;
}

.badge-pill {
  box-shadow: 3px 3px 0 #333333;
}

.badge-pill:hover {
  cursor: pointer;
}

.tagActive {
  color: #F3F6E0;
  box-shadow: 2px 3px 0 #ffc107;
  background-color: #333333;
}

.card {
  overflow: hidden;
}

.card-body {
  height: 170px;
}

.card-img {
  position: relative;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-deck a {
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
    background-color: rgba($black, .6);
  }
}

.card-deck .card-link-text {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  opacity: 0;
  top: 70%;
  right: 33%;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 30;
  color: white;
}

.card-deck a {
  display: block;
  text-decoration: none;
}

.card:hover {
  a {
    &::after {
      content: '';
      transform: scale(1, 1);
      cursor: pointer;
    }

    & .card-link-text {
      opacity: 1;
      visibility: visible;
    }
  }

  .card-footer-text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

.product-menu {
  background-color: #594539;
  color: #F3F6E0;
}

.product-menu .title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  text-indent: 15px;
}

.product-card {
  border: 0;
  background-image: url("https://images.unsplash.com/photo-1473646590311-c48e1bc77b44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-bg {
  height: 80px;
  width: 80px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-deck .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  min-width: 240px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(38, 38, 38, 0.8);
  color: white;
  border-radius: 0.75rem;
}

.card-text {
  color: #ffc107;
  font-size: 24px;
  font-weight: bold;
}

.card-footer-text {
  width: 100%;
  height: 78px;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  color: #ffc107;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.5s ease;
  z-index: 5;
}

.footer-btn {
  max-height: 100%;
  line-height: 72px;
  width: 50%;
}

.footer-btn:hover {
  cursor: pointer;
  background-color: #ffc107;
  color: black;
}

.footer-absolute {
  bottom: 0;
}

.text-title {
  font-weight: bold;
}

.position-absolute {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  bottom: 0;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.5s ease;
}

.fade-slide-enter,
.fade-slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}