// 購物車動畫
// In
@keyframes cartfadeInright {
  from {
    transform: translate3d(200px,0,0);
  }

  to {
    transform: translate3d(0px,0,0);
    opacity: 1;
  }
}
@-webkit-keyframes cartfadeInright {
  from {
    transform: translate3d(200px,0,0);
  }

  to {
    transform: translate3d(0px,0,0);
    opacity: 1;
  }
}

// Out
@-webkit-keyframes cartfadeOutright {
  from {
    transform: translate3d(0px,0,0);
  }

  to {
    transform: translate3d(200px,0,0);
    opacity: 1;
  }
}

@keyframes cartfadeOutright {
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translate3d(200px,0,0);
    opacity: 1;
  }
}



// Hang hover animation-name
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
